<<<<<<< HEAD
@CHARSET "ISO-8859-1";

.headingDiv {
	padding-left: 100px;
	padding-bottom: 10px;
}

.infobox {
	text-align: left;
	vertical-align: top;
	padding: 30px;
}

table.main {
	width: 95%;
	border: 0px;
	padding: 5px;
	border-collapse: collapse;
	text-align: center;
}

table.main td {
	border-top: dotted 1px gray;
	text-align: center;
	font-size: small;
=======
@CHARSET "ISO-8859-1";

.headingDiv {
	padding-left: 100px;
	padding-bottom: 10px;
}

.infobox {
	text-align: left;
	vertical-align: top;
	padding: 30px;
}

table.main {
	width: 95%;
	border: 0px;
	padding: 5px;
	border-collapse: collapse;
	text-align: center;
}

table.main td {
	border-top: dotted 1px gray;
	text-align: center;
	font-size: small;
>>>>>>> Table save refactor
}