@CHARSET "ISO-8859-1";

.failingTest {
	background-color: #E8E8FF;
}

div.charts table {
	width: 100%;
}

div.charts div[id^=chart] {
	width: 700px;
	height: 200px;
	margin: 0 auto;
}

#time-lapse-order {
	padding-bottom: 3px;
}

#time-lapse-order span {
	cursor: pointer;
	border: 1px solid;
	padding: 0px 3px 0px 3px;
	border-radius: 3px;
	background-color: rgb(240, 244, 255);
	font-size: small;
}

table.main {
	table-layout: fixed;
}

table.main tr td {
	border-left: 1px dotted gray;
	padding: 1%;
	word-wrap: break-word;
}

table.main tr td:FIRST-CHILD {
	width: 25%;
	white-space: normal;
}
