@CHARSET "UTF-8";
.started {
  background-color: white;
}

.aborted {
  background-color: grey;
}

.passed {
  background-color: #64E986;
}

.failed {
  background-color: #F75D59;
}

.notavailable {
  background-color: #77BFC7;
}