@CHARSET "UTF-8";

table.main {
	width: 95%;
	border: 0;
	padding: 5px;
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0;
}

table.main td {
	border-top: dotted 1px gray;
	text-align: center;
	font-size: small;
	word-wrap: break-word;
	white-space: normal;
}

table.main tr td:first-child {
	text-align: left;
	white-space: nowrap;
}

table.main td.testName {
	max-width: 450px;
	text-align: left;
}

.testName {
	max-width: 450px;
	text-align: left;
}

.commentless {
	background-color: #E8E8FF;
}

.suggestion {
	color: gray;
}

.deleteLink {
	width: 16px;
	height: 16px;
	line-height: 1px;
	display: block;
	cursor: pointer;
	background: url(../../images/trash.png);
}

.saveLink {
	cursor: pointer;
	color: #FD9B11;
}

.save-link-disabled {
	pointer-events: none;
	color: gray;
}

.link {
	cursor: pointer;
}

.saveLinkHidden {
	color: black;
	display: none;
}

table.main td.sectionHeader {
	border-top: solid 1px black;
	text-align: left;
}

table.main th{
	white-space: nowrap;
	text-align: left;
	padding: 3px;
	border-right: dotted 1px gray;
	border-top: dotted 1px gray;
}

table.main th.cp-group{
	font-size: smaller;
}

table#checkPointTable {
	width: 100%;
}

.edit-in-progress {
	background: white;
}

div[contentEditable=true].changed {
	box-shadow: 0px 0px 5px blue;
	background: white;
	color: black;
}

div[contentEditable=true] {
	width: 95%;
	height: 30px;
	border: solid 1px gray;
	text-align: left;
	padding-left: 3px;
	overflow: overlay;
}

textarea.comment {
	width: 100%;
	height: 100%;
	min-width: 200px;
}

div.labels {
	font-size: x-small;
	display: none;
	white-space: normal;
}