@CHARSET "ISO-8859-1";

.filterForm {
  display: inline-table;
  list-style-type: none;
}

#filterForm {
  border-radius: 5px 5px 5px 5px;
}

#filterForm select,#filterForm textarea {
  vertical-align: middle;
}

.links ul {
  clear: both;
}

.links li {
  display: inline-table;
  width: 200px;
  text-align: left;
}
.